<div class="col-md-8"><h1>რეკლამა</h1>
<p> 
	თუ გსურთ, რომ თქვენი ვებ-გვერდი გამოჩნდეს <%= link_to "browzer", "http://browzer.ge"%>-ზე is a project to teach <%= link_to "Ruby on Rails", "http://rubyonrails.org" %>
	in one month. This is the simple application
</p>
</div>