
  <div class="col-md-8"><h1>Welcome to MrZaps Page</h1>
<p>
	You've found the home page for the
	<%= link_to "Newsbrowzer", "http://newsbrowzer.com"%>
	application.

</p>
<p> 
	<%= link_to "Sign Up Now!", "#" %>
</p>
</div>

