  <div class="col-md-8">
    
<body>
<div class="container">
<ul class="thumbnails">
        <li class="col-md-2">
          <div class="thumbnail">
            <img src="shoes1.jpg" alt="product 1">
            <div class="caption">
              <p><a href="#" class="btn btn-success">გართობა</a></p>
            </div>
          </div>
        </li>
        <li class="col-md-2">
          <div class="thumbnail">
            <img src="shoes1.jpg" alt="product 1">
            <div class="caption">
              <p><a href="#" class="btn btn-success">გართობა</a></p>
            </div>
          </div>
        </li>
        <li class="col-md-2">
          <div class="thumbnail">
            <img src="shoes1.jpg" alt="product 1">
            <div class="caption">
              <p><a href="#" class="btn btn-success">გართობა</a></p>
            </div>
          </div>
        </li>
        <li class="col-md-2">
          <div class="thumbnail">
            <img src="shoes1.jpg" alt="product 1">
            <div class="caption">
              <p><a href="#" class="btn btn-success">გართობა</a></p>
            </div>
          </div>
        </li>
        <li class="col-md-2">
          <div class="thumbnail">
            <img src="shoes1.jpg" alt="product 1">
            <div class="caption">
              <p><a href="#" class="btn btn-success">გართობა</a></p>
            </div>
          </div>
        </li>

      </ul>

  

         </div> <!-- /container -->
</body>
</html>
            

