$navbar-default-bg: lighten(#000, 10%);
$body-bg: #0d0d0c;
$navbar-default-link-color: #bab7b7;
$navbar-default-link-active-color: #f7f7f7;
$navbar-default-border: darken($navbar-default-bg, 40%);
$navbar-default-link-active-bg: darken($navbar-default-bg, 20%);
$navbar-default-link-hover-bg: darken($navbar-default-bg, 5.5%);
$navbar-default-link-hover-color: #e0dddd;
$grid-gutter-width: 20px;
$headings-color: #eeeee8;

@import 'bootstrap';
@media (min-width: 768px){

.navbar-nav{
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    float:none;
}

.nav {
background-color: #0000;
	color: #00000;

}

}  

.footer {
	margin-top: 1000px;
	color: $gray;
	a {
		color: $gray;
	}
}

.col-md-2{	
margin-top: -22px;
}

#col-md-2 .h3{	
margin-left: 50px;
}



