$navbar-default-bg: lighten(#000, 10%);
$body-bg: #0d0d0c;
$navbar-default-link-color: #bab7b7;
$navbar-default-link-active-color: #f7f7f7;
$navbar-default-border: darken($navbar-default-bg, 40%);
$navbar-default-link-active-bg: darken($navbar-default-bg, 20%);
$navbar-default-link-hover-bg: darken($navbar-default-bg, 5.5%);
$navbar-default-link-hover-color: #e0dddd;
$grid-gutter-width: 20px;
$headings-color: #5cb85c;
$link-color: #d6d6d6;
$link-hover-color: #efeaea;
$font-size-base: 16px;


@import 'bootstrap';
@media (min-width: 768px){

.navbar-nav{
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    float:none;

}

.nav {
background-color: #0000;
	color: #00000;

}

}  

.footer {	
	color: $gray;
	a {
		color: $gray;
	}
}

.navbar-default > .active a, .navbar-default > .active a:hover, .navbar-default > li a:hover { background-color: #020d0d;}
ul
{
    list-style-type: none;
}
li
{
    list-style-type: none;
}
.col-md-2{	
margin-top: -23px;
height: 100%;

}

